@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-departure-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
}

/* Font classes */
.font-inter {
  font-family: var(--font-inter);
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-departure {
  font-family: var(--font-departure-mono);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-sohne-mono-1 {
  font-family: var(--font-sohne-mono-1);
}

.font-sohne-mono-2 {
  font-family: var(--font-sohne-mono-2);
}